<!DOCTYPE html>
<html lang="en" xlmns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Species</title>
</head>
<body>
    <h1>Create Species</h1>
    <form th:action="@{/species/create}" th:object="${species}" method="post">
        <p th:if="${#fields.hasErrors()}">At least one of the fields is not valid</p>
        <p>Common name : <label>
            <input type="text" th:field="*{commonName}" />
            <span th:if="${#fields.hasErrors('commonName')}" th:errors="*{commonName}">Field not valid</span>
        </label></p>
        <p>Latin name : <label>
            <input type="text" th:field="*{latinName}" />
            <span th:if="${#fields.hasErrors('latinName')}" th:errors="*{latinName}">Field not valid</span>
        </label></p>
        <p><input type="submit" value="Create"/></p>
    </form>
<a th:href="@{/species}">🔙 Back to list</a>
</body>
</html>
